body {
	color: #222222;
	padding-bottom: 20px;
}

h1 {
	font-size: 36px;
	font-family: AvenirNext-Heavy;
	line-height: 60px;
}

h2 {
	font-size: 24px;
	font-family: AvenirNext-Heavy;
	opacity: .5;
	transition: .18s;
}

h2:hover {
	opacity: 1;
}

h2.active {
	opacity: 1;
}

h3 {
	font-size: 20px;
	font-family: AvenirNext-Heavy;
	line-height: 32px;
}

h4  {
	font-size: 14px;
	font-family: AvenirNext-Heavy;
}

a h4 {
	color: #222222;
}

a h4:hover {
	text-decoration: underline;
}

.contact a{
	color: #222222;
}

.email:hover{
	color: #98CA2A;
}

.dribbble:hover{
	color: #F6511D;
}

.linkedin:hover{
	color: #00A6ED;
}

.resume:hover{
	color: #D5D4C9;
}

.body-callout {
	font-family: AvenirNext-Bold;
	font-size: 18px;
	line-height: 32px;
}

.body-detail {
	font-family: AvenirNext-Medium;
	font-size: 16px;
	line-height: 32px;
}

.caption {
	font-family: AvenirNext-Medium;
	font-size: 12px;
	line-height: 16px;
	color: #222222;
}

.green {
	color: #98CA2A;
}

.red {
	color: #F6511D;
}

.blue {
	color: #00A6ED;
}


.nav-bar {
	padding-top: 60px;
}

ul#nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline;
}

ul#nav li {
	display: inline;
}

ul#nav li h2 {
	display: inline;
	margin-right: 32px;
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url(assets/fonts/AvenirNext-Bold-ttf);
}

@font-face {
	font-family: AvenirNext-Heavy;
	src: url(assets/fonts/AvenirNext-Heavy-ttf);
}

@font-face {
	font-family: AvenirNext-Medium;
	src: url(assets/fonts/AvenirNext-Medium-ttf);
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url(assets/fonts/AvenirNext-Regular-ttf);
}

.contact-item{
	margin-right: 16px;
}

.about-content {
	padding-top: 70px;
}

.project-row {
	padding-top: 70px;
}

.social-icon {
	margin-top: -4px;
	width: 24px;
	-webkit-transition: -webkit-transform .15s;
	transition: transform .15;
}

.social-icon:hover {
	-webkit-transform: rotate(18deg);
	transform: rotate(18deg);
}

.right {
	float: right;
}

#avatar {
	margin-top: -5px;
	width: 50px; 
	transition: transform 1s;
}

.project-intro {
	margin-top: 70px;
}

.project-section {
	margin-top: 50px;
}

.project-image {
	margin-top: 20px;
}

.back-item {
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-adjust {
	padding-top: 115px;
}

.image-adjust-small {
	padding-top: 25px;
}


@media only screen and (max-width: 639px) {
	.about-content {
		padding-top: 0px;
	}

	.project-row {
		padding-top: 0px;
	}

	.project-row .work-title {
		margin-top: 20px;
	}

	.juggle {
		text-align: center;
	}

	#avatar {
		display: none;
	}

	/*project page*/
	.project-intro {
		margin-top: 20px;
	}

	.project-section {
		margin-top: 10px;
	}

	.project-image {
		margin-top: 0px;
	}

	.image-adjust {
		padding-top: 0px;
		padding-left: 35px;
		padding-right: 30px;
	}

	.caption {
		margin-top: 10px;
	}

	.nav-bar {
		padding-top: 20px;
	}

}



.no-margin {
	margin-top: 0px;
}

.centering-container {
	width: 100%;
 	text-align: center;
}

.mobile-download {
	display: inline-block;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

#empty-phone {
	position: absolute;
	display: inline-block;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 300px;
}

#mp-proto-container {
	position: relative;
	display: inline-block;
	margin-top: 97px;
	margin-left: 20px;
	height: 455px;
	width: 258px;
	overflow-y: scroll;
}

#mp-proto {
	position: relative;
	top: 0px;
    left: 0px;
	z-index: -1;
	width: 258px;

}

.mp-back {
	margin-top: 90px;
}

.space-below {
	padding-bottom: 40px;
}

.space-top {
	margin-top: 20px;
}

.insights {
	margin-top: 20px;
	padding-left: 40px;
	border-left: 2px solid #222222;
}

.shadow {
    box-shadow: 0px 1px 3px #888888;
}
